Repository spkumar17/microservices-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_adservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_currencyservice, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

trigger_adservice:
  stage: trigger_adservice
  trigger:
    include:
    - local: src/adservice/.gitlab-ci.yml
    strategy: depend

trigger_cartservice:
  stage: trigger_cartservice
  trigger:
    include:
    - local: src/cartservice/.gitlab-ci.yml
    strategy: depend

trigger_checkoutservice:
  stage: trigger_checkoutservice
  trigger:
    include:
    - local: src/checkoutservice/.gitlab-ci.yml
    strategy: depend

trigger_emailservice:
  stage: trigger_emailservice
  trigger:
    include:
    - local: src/emailservice/.gitlab-ci.yml
    strategy: depend

trigger_frontend:
  stage: trigger_frontend
  trigger:
    include:
    - local: src/frontend/.gitlab-ci.yml
    strategy: depend

trigger_currencyservice:
  stage: trigger_currencyservice
  trigger:
    include:
    - local: src/currencyservice/.gitlab-ci.yml
    strategy: depend

trigger_loadgenerator:
  stage: trigger_loadgenerator
  trigger:
    include:
    - local: src/loadgenerator/.gitlab-ci.yml
    strategy: depend

trigger_paymentservice:
  stage: trigger_paymentservice
  trigger:
    include:
    - local: src/paymentservice/.gitlab-ci.yml
    strategy: depend

trigger_productcatalogservice:
  stage: trigger_productcatalogservice
  trigger:
    include:
    - local: src/productcatalogservice/.gitlab-ci.yml
    strategy: depend

trigger_recommendationservice:
  stage: trigger_recommendationservice
  trigger:
    include:
    - local: src/recommendationservice/.gitlab-ci.yml
    strategy: depend

trigger_shippingservice:
  stage: trigger_shippingservice
  trigger:
    include:
    - local: src/shippingservice/.gitlab-ci.yml
    strategy: depend

trigger_shoppingassistantservice:
  stage: trigger_shoppingassistantservice
  trigger:
    include:
    - local: src/shoppingassistantservice/.gitlab-ci.yml
    strategy: depend

updated Docker image
  src/productcatalogservice/.gitlab-ci.yml
  src/productcatalogservice/Dockerfile
Due: trigger_productcatalogservice

updated Docker image
  src/currencyservice/.gitlab-ci.yml
  src/currencyservice/Dockerfile
Due: trigger_currencyservice

updated Docker image
  src/currencyservice/.gitlab-ci.yml
Due: trigger_currencyservice

updated Docker image
  src/currencyservice/Dockerfile
Due: trigger_currencyservice

updated Docker image
  src/paymentservice/Dockerfile
Due: trigger_paymentservice

uncommented docker jobs
  src/paymentservice/.gitlab-ci.yml
Due: trigger_paymentservice

uncommented docker jobs
  src/paymentservice/Dockerfile
Due: trigger_paymentservice

updated Docker image
  src/currencyservice/Dockerfile
  src/paymentservice/Dockerfile
Due: trigger_currencyservice, trigger_paymentservice

updated Docker image
  src/shoppingassistantservice/.gitlab-ci.yml
  src/shoppingassistantservice/Dockerfile
Due: trigger_shoppingassistantservice

updated Docker image
  src/shoppingassistantservice/Dockerfile
Due: trigger_shoppingassistantservice

changed protobuf==3.20.*
  src/shoppingassistantservice/requirements.txt
Due: trigger_shoppingassistantservice

changed protobuf==*
  src/shoppingassistantservice/requirements.txt
Due: trigger_shoppingassistantservice

updated Docker image
  src/recommendationservice/.gitlab-ci.yml
  src/recommendationservice/Dockerfile
Due: trigger_recommendationservice

updated Docker image
  src/emailservice/.gitlab-ci.yml
  src/emailservice/Dockerfile
Due: trigger_emailservice

updated Docker image
  src/recommendationservice/Dockerfile
Due: trigger_recommendationservice

Create tigger_gitlab.yml
  .github/workflows/tigger_gitlab.yml
Due: none

comment this
  .github/workflows/tigger_gitlab.yml
Due: none

test sonar
  src/adservice/.gitlab-ci.yml
Due: trigger_adservice

test
  src/adservice/.gitlab-ci.yml
  src/cartservice/.gitlab-ci.yml
  src/checkoutservice/.gitlab-ci.yml
  src/currencyservice/.gitlab-ci.yml
  src/emailservice/.gitlab-ci.yml
  src/frontend/.gitlab-ci.yml
  src/loadgenerator/.gitlab-ci.yml
  src/paymentservice/.gitlab-ci.yml
  src/productcatalogservice/.gitlab-ci.yml
  src/recommendationservice/.gitlab-ci.yml
  src/shippingservice/.gitlab-ci.yml
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_adservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_currencyservice, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

test1 pipline
  src/adservice/.gitlab-ci.yml
  src/cartservice/.gitlab-ci.yml
  src/checkoutservice/.gitlab-ci.yml
  src/currencyservice/.gitlab-ci.yml
  src/emailservice/.gitlab-ci.yml
  src/frontend/.gitlab-ci.yml
  src/loadgenerator/.gitlab-ci.yml
  src/paymentservice/.gitlab-ci.yml
  src/productcatalogservice/.gitlab-ci.yml
  src/recommendationservice/.gitlab-ci.yml
  src/shippingservice/.gitlab-ci.yml
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_adservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_currencyservice, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

test1 pipline
  src/loadgenerator/.gitlab-ci.yml
Due: trigger_loadgenerator

uncomment stages
  src/loadgenerator/.gitlab-ci.yml
Due: trigger_loadgenerator

changed files
  src/cartservice/src/Dockerfile
Due: trigger_cartservice

Update Dockerfile
  src/cartservice/Dockerfile
Due: trigger_cartservice

added project7
  src/cartservice/.gitlab-ci.yml
Due: trigger_cartservice

added new http2
  src/cartservice/src/Program.cs
Due: trigger_cartservice

added dockercompose file
  release/dockercompose.yml
Due: none

Path conditions:
  trigger_adservice: any of: src/adservice/**/*
  trigger_cartservice: any of: src/cartservice/**/*
  trigger_checkoutservice: any of: src/checkoutservice/**/*
  trigger_emailservice: any of: src/emailservice/**/*
  trigger_frontend: any of: src/frontend/**/*
  trigger_currencyservice: any of: src/currencyservice/**/*
  trigger_loadgenerator: any of: src/loadgenerator/**/*
  trigger_paymentservice: any of: src/paymentservice/**/*
  trigger_productcatalogservice: any of: src/productcatalogservice/**/*
  trigger_recommendationservice: any of: src/recommendationservice/**/*
  trigger_shippingservice: any of: src/shippingservice/**/*
  trigger_shoppingassistantservice: any of: src/shoppingassistantservice/**/*
