Repository spkumar17/microservices-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_ADservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

Path conditions:
  trigger_ADservice: any of: src/adservice/**/*
  trigger_cartservice: any of: src/cartservice/**/*
  trigger_checkoutservice: any of: src/checkoutservice/**/*
  trigger_emailservice: any of: src/emailservice/**/*
  trigger_frontend: any of: src/frontend/**/*
  trigger_loadgenerator: any of: src/loadgenerator/**/*
  trigger_paymentservice: any of: src/paymentservice/**/*
  trigger_productcatalogservice: any of: src/productcatalogservice/**/*
  trigger_recommendationservice: any of: src/recommendationservice/**/*
  trigger_shippingservice: any of: src/shippingservice/**/*
  trigger_shoppingassistantservice: any of: src/shoppingassistantservice/**/*

add strategy: depend
  .gitlab-ci.yml
Due: none

trigger
  src/cartservice/.gitlab-ci.yml
Due: trigger_cartservice

created jobs
  src/checkoutservice/.gitlab-ci.yml
Due: trigger_checkoutservice

created jobs
  src/frontend/.gitlab-ci.yml
Due: trigger_frontend

created jobs
  src/productcatalogservice/.gitlab-ci.yml
  src/shippingservice/.gitlab-ci.yml
Due: trigger_productcatalogservice, trigger_shippingservice

created jobs
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

change template endpoint
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

change before script
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

test
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

added venv_dir
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

test
  src/loadgenerator/.gitlab-ci.yml
Due: trigger_loadgenerator

test
  src/recommendationservice/.gitlab-ci.yml
Due: trigger_recommendationservice

test
  src/currencyservice/.gitlab-ci.yml
Due: none

added currencyservice job
  .gitlab-ci.yml
Due: none

added trigger_currencyservice stage
  .gitlab-ci.yml
Due: none

modifed templates
  src/currencyservice/.gitlab-ci.yml
Due: none

added node_dir variable
  src/currencyservice/.gitlab-ci.yml
Due: none

created pipline
  src/paymentservice/.gitlab-ci.yml
Due: trigger_paymentservice

created pipline
  src/shoppingassistantservice/.gitlab-ci.yml
  src/shoppingassistantservice/sonar-project.properties
Due: trigger_shoppingassistantservice

testing sonar stage
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_shoppingassistantservice

testing sonar stage | uncommented dependecy
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_shoppingassistantservice

testing sonar stage
  src/shippingservice/.gitlab-ci.yml
  src/shippingservice/sonar-project.properties
Due: trigger_shippingservice

COMMNETED RUNNER
  src/shippingservice/.gitlab-ci.yml
Due: trigger_shippingservice

testing sonar stage
  src/frontend/.gitlab-ci.yml
  src/frontend/sonar-project.properties
  src/loadgenerator/.gitlab-ci.yml
  src/loadgenerator/sonar-project.properties
  src/paymentservice/.gitlab-ci.yml
  src/paymentservice/sonar-project.properties
  src/productcatalogservice/.gitlab-ci.yml
  src/productcatalogservice/sonar-project.properties
  src/recommendationservice/.gitlab-ci.yml
  src/recommendationservice/sonar-project.properties
Due: trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice

testing sonar stage
  src/frontend/.gitlab-ci.yml
  src/recommendationservice/.gitlab-ci.yml
Due: trigger_frontend, trigger_recommendationservice

testing sonar stage
  src/cartservice/.gitlab-ci.yml
  src/cartservice/sonar-project.properties
  src/checkoutservice/.gitlab-ci.yml
  src/checkoutservice/sonar-project.properties
  src/currencyservice/.gitlab-ci.yml
  src/currencyservice/sonar-project.properties
  src/emailservice/.gitlab-ci.yml
  src/emailservice/sonar-project.properties
  src/loadgenerator/.gitlab-ci.yml
  src/paymentservice/.gitlab-ci.yml
  src/productcatalogservice/.gitlab-ci.yml
Due: trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice

testing sonar stage
  src/adservice/.gitlab-ci.yml
  src/checkoutservice/sonar-project.properties
  src/emailservice/sonar-project.properties
  src/loadgenerator/sonar-project.properties
Due: trigger_ADservice, trigger_checkoutservice, trigger_emailservice, trigger_loadgenerator

using inbuild docker file
  src/adservice/Dockerfile
Due: trigger_ADservice

docker stages test
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice

removed platform env
  src/adservice/Dockerfile
Due: trigger_ADservice

testing pipline
  src/adservice/.gitlab-ci.yml
  src/cartservice/.gitlab-ci.yml
  src/cartservice/src/Dockerfile
  src/checkoutservice/.gitlab-ci.yml
  src/checkoutservice/Dockerfile
  src/currencyservice/.gitlab-ci.yml
  src/currencyservice/Dockerfile
  src/emailservice/.gitlab-ci.yml
  src/emailservice/Dockerfile
  src/frontend/.gitlab-ci.yml
  src/frontend/Dockerfile
  src/loadgenerator/.gitlab-ci.yml
  src/loadgenerator/Dockerfile
  src/paymentservice/.gitlab-ci.yml
  src/paymentservice/Dockerfile
  src/productcatalogservice/.gitlab-ci.yml
  src/productcatalogservice/Dockerfile
  src/recommendationservice/.gitlab-ci.yml
  src/recommendationservice/Dockerfile
  src/shippingservice/.gitlab-ci.yml
  src/shippingservice/Dockerfile
  src/shoppingassistantservice/.gitlab-ci.yml
  src/shoppingassistantservice/Dockerfile
Due: trigger_ADservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

testing pipline
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice
