Repository spkumar17/microservices-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_ADservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

trigger_ADservice:
  stage: trigger_adservice
  trigger:
    include:
    - local: src/adservice/.gitlab-ci.yml
    strategy: depend

trigger_cartservice:
  stage: trigger_cartservice
  trigger:
    include:
    - local: src/cartservice/.gitlab-ci.yml

trigger_checkoutservice:
  stage: trigger_checkoutservice
  trigger:
    include:
    - local: src/checkoutservice/.gitlab-ci.yml

trigger_emailservice:
  stage: trigger_emailservice
  trigger:
    include:
    - local: src/emailservice/.gitlab-ci.yml

trigger_frontend:
  stage: trigger_frontend
  trigger:
    include:
    - local: src/frontend/.gitlab-ci.yml

trigger_loadgenerator:
  stage: trigger_loadgenerator
  trigger:
    include:
    - local: src/loadgenerator/.gitlab-ci.yml

trigger_paymentservice:
  stage: trigger_paymentservice
  trigger:
    include:
    - local: src/paymentservice/.gitlab-ci.yml

trigger_productcatalogservice:
  stage: trigger_productcatalogservice
  trigger:
    include:
    - local: src/productcatalogservice/.gitlab-ci.yml

trigger_recommendationservice:
  stage: trigger_recommendationservice
  trigger:
    include:
    - local: src/recommendationservice/.gitlab-ci.yml

trigger_shippingservice:
  stage: trigger_shippingservice
  trigger:
    include:
    - local: src/shippingservice/.gitlab-ci.yml

trigger_shoppingassistantservice:
  stage: trigger_shoppingassistantservice
  trigger:
    include:
    - local: src/shoppingassistantservice/.gitlab-ci.yml

testing pipline
  src/adservice/.gitlab-ci.yml
  src/cartservice/.gitlab-ci.yml
  src/checkoutservice/.gitlab-ci.yml
  src/currencyservice/.gitlab-ci.yml
  src/emailservice/.gitlab-ci.yml
  src/frontend/.gitlab-ci.yml
  src/loadgenerator/.gitlab-ci.yml
  src/paymentservice/.gitlab-ci.yml
  src/productcatalogservice/.gitlab-ci.yml
  src/recommendationservice/.gitlab-ci.yml
  src/shippingservice/.gitlab-ci.yml
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_ADservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

changed the docker file path
  src/cartservice/Dockerfile
Due: trigger_cartservice

testing build job pipline
  src/adservice/.gitlab-ci.yml
  src/cartservice/.gitlab-ci.yml
  src/cartservice/Dockerfile
  src/checkoutservice/.gitlab-ci.yml
  src/currencyservice/.gitlab-ci.yml
  src/emailservice/.gitlab-ci.yml
  src/frontend/.gitlab-ci.yml
  src/loadgenerator/.gitlab-ci.yml
  src/paymentservice/.gitlab-ci.yml
  src/productcatalogservice/.gitlab-ci.yml
  src/recommendationservice/.gitlab-ci.yml
  src/shippingservice/.gitlab-ci.yml
  src/shoppingassistantservice/.gitlab-ci.yml
Due: trigger_ADservice, trigger_cartservice, trigger_checkoutservice, trigger_emailservice, trigger_frontend, trigger_loadgenerator, trigger_paymentservice, trigger_productcatalogservice, trigger_recommendationservice, trigger_shippingservice, trigger_shoppingassistantservice

testing build and docker job pipline
  src/adservice/.gitlab-ci.yml
  src/adservice/Dockerfile
Due: trigger_ADservice

changed artifact path in docker file
  src/adservice/Dockerfile
Due: trigger_ADservice

changed artifact path in docker file
  src/adservice/.gitlab-ci.yml
  src/adservice/Dockerfile
Due: trigger_ADservice

changed artifact path in docker file
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice

Edit .gitlab-ci.yml add test job to check the artifact
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice

add variable
  src/cartservice/.gitlab-ci.yml
Due: trigger_cartservice

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add variable
  src/checkoutservice/.gitlab-ci.yml
Due: trigger_checkoutservice

variable added golang_Dir: "$CI_PROJECT_DIR/src/productcatalogservice/"
  src/productcatalogservice/.gitlab-ci.yml
Due: trigger_productcatalogservice

Edit .gitlab-ci.yml
  src/frontend/.gitlab-ci.yml
Due: trigger_frontend

SERVICE_NAME
  src/shippingservice/.gitlab-ci.yml
Due: trigger_shippingservice

update docker files
  src/adservice/Dockerfile
Due: trigger_ADservice

update docker files
  src/adservice/.gitlab-ci.yml
  src/adservice/Dockerfile
Due: trigger_ADservice

update job test
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice

check
  src/adservice/.gitlab-ci.yml
  src/adservice/Dockerfile
Due: trigger_ADservice

check
  src/adservice/Dockerfile
Due: trigger_ADservice

check
  src/adservice/.gitlab-ci.yml
Due: trigger_ADservice

Edit .gitlab-ci.yml
  src/emailservice/.gitlab-ci.yml
Due: trigger_emailservice

updated Docker image
  src/cartservice/.gitlab-ci.yml
  src/cartservice/Dockerfile
Due: trigger_cartservice

updated Docker image
  src/cartservice/Dockerfile
Due: trigger_cartservice

add test job
  src/cartservice/.gitlab-ci.yml
Due: trigger_cartservice

updated Docker image and added testartifact stage
  src/checkoutservice/.gitlab-ci.yml
  src/checkoutservice/Dockerfile
Due: trigger_checkoutservice

updated Docker image
  src/checkoutservice/.gitlab-ci.yml
  src/checkoutservice/Dockerfile
Due: trigger_checkoutservice

updated Docker image
  src/checkoutservice/Dockerfile
Due: trigger_checkoutservice

updated Docker image
  src/frontend/.gitlab-ci.yml
  src/frontend/Dockerfile
Due: trigger_frontend

updated Docker image
  src/shippingservice/.gitlab-ci.yml
  src/shippingservice/Dockerfile
Due: trigger_shippingservice

Path conditions:
  trigger_ADservice: any of: src/adservice/**/*
  trigger_cartservice: any of: src/cartservice/**/*
  trigger_checkoutservice: any of: src/checkoutservice/**/*
  trigger_emailservice: any of: src/emailservice/**/*
  trigger_frontend: any of: src/frontend/**/*
  trigger_loadgenerator: any of: src/loadgenerator/**/*
  trigger_paymentservice: any of: src/paymentservice/**/*
  trigger_productcatalogservice: any of: src/productcatalogservice/**/*
  trigger_recommendationservice: any of: src/recommendationservice/**/*
  trigger_shippingservice: any of: src/shippingservice/**/*
  trigger_shoppingassistantservice: any of: src/shoppingassistantservice/**/*
